token: "lip_REPLACE_WITH_YOUR_BOT_TOKEN"
url: "https://lichess.org/"

engine:
  dir: "/lichess-bot/config/engine/scripts"
  name: "engine.sh"
  working_dir: "/lichess-bot/config/engine"
  protocol: "uci"
  ponder: false
  draw_or_resign:
    resign_enabled: false
    offer_draw_enabled: false
  silence_stderr: false

abort_time: 30
fake_think_time: false
rate_limiting_delay: 0
move_overhead: 2000

correspondence:
  move_time: 60
  checkin_period: 300
  disconnect_time: 150
  ponder: false

challenge:
  concurrency: 1
  sort_by: "best"
  accept_bot: true
  only_bot: false
  max_increment: 20
  min_increment: 0
  max_base: 1800
  min_base: 0
  variants:
    - standard
  time_controls:
    - blitz
    - rapid
    - classical
  modes:
    - casual
    - rated

greeting:
  hello: "Hi! I'm {me}, a hobby engine written from scratch in Python. Good luck!"
  goodbye: "Good game!"

matchmaking:
  allow_matchmaking: true
  challenge_variant: "random"
  challenge_timeout: 1
  challenge_initial_time:
    - 300
  challenge_increment:
    - 3
  opponent_rating_difference: 600
  rating_preference: "low"
  challenge_mode: "rated"
  challenge_filter: "coarse"
